@model AppTerceira.Models.Pessoa
@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2> @Model.Id</h2>
    <h2> @Model.Nome</h2>
    <h2> @Model.Sexo</h2>

    <h2>Exemplo</h2>

    <h3>ViewBag.Id</h3>
    <h3>ViewBag.Nome</h3>
    <h3>ViewBag.Sexo</h3>
</main>